*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    background-color: #333;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.brand-title{
    font-size: 1.5rem;
    line-height: 60px;
}
.navbar-links{
    height: 100%;
}
.navbar-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}
.navbar-links ul li {
    padding: 0 10px;
}
.navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    line-height: 60px;
    display: block;
}
.navbar-links li a:hover{
    background-color: #444;
}
.toggle-button {
    position: absolute;
    top: 15px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:30px ;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

@media (max-width: 768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        width: 100%;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-heigh 0.5s ease-out, opacity 0.5s ease-out;
    }
    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }
    .navbar-links ul li{
        text-align: center;

    }
    .navbar-links a{
        padding: 10px;
        line-height: 20px;
    }

    .navbar.active .navbar-links{
        max-height: 300px;
        opacity: 1;

    }

    .navbar.active .toggle-button .bar:nth-child(2){
        opacity: 0;
    }
    .navbar.active .toggle-button .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        
    }
    .navbar.active .toggle-button .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);

    }
}