html{
    overflow: scroll;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: white;
}

/* nav style */
.navbar{
    position: fixed;
    
   top: 0;
   right: 0;
   left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#333;
    color: white;
    padding: 0px 20px;
}

.logo{
    font-size: 1.5rem;
    line-height: 60px;
    cursor: pointer;
}
.navlinks{
    height: 100%;
}
.navlinks ul{
    display: flex;
    
    list-style: none;
    margin: 0;
    padding: 0;
}
.navlinks li{
    padding: 0px 10px;
 
}
.navlinks  a{
    color: white;
    text-decoration: none;
    font-size:1em ;
    line-height: 60px;
    display: block;
    
}
.navlinks a:hover{
    background-color: #444;
}

/* toggole button */
.toggleButton{
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 21px;
    
    display:none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.toggleButton .bar{
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    
}


/* media or phone part */
@media(max-width: 768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .toggleButton{
        display: flex;
    }
    .navlinks{
       
        width: 100%;
      max-height: 0; 
       overflow: hidden;
       opacity: 0;
    }
    .navlinks ul{
        flex-direction: column;
        width: 100%;    
      

    }
    .navlinks  li {
      
        text-align: center;
      
      
    }
    .navlinks a{
        
        /* border: 1px solid green; */
        line-height: 20px;
        padding: 10px;
    }
    .navbar.active .navlinks{
        max-height: 300px;
        opacity: 1;
    }

    .navbar.active .toggleButton .bar:nth-child(2){
        opacity: 0;
    }
    .navbar.active .toggleButton .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .navbar.active .toggleButton .bar:nth-child(3){
         transform: translateY(-8px) rotate(-45deg);
    }
    
}


/* home page  */
.container{
    display: flex;
    flex-direction: column;
}
.slide{
  
    height: 100vh;
    display: flex;
    background-color: rgb(252, 253, 253);
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
}
.slide.home{
    background-color: hotpink;
}
.slide.about{
    background-color: lightskyblue;
}
.slide.service{
    background-color: goldenrod;
}
.slide.portfolio{
    background-color: navy;
    color: white;
}
.slide.blog{
    background-color: fuchsia;
}
.slide.careers{
    background-color: rgb(249, 250, 250);
    color: black;
}
.slide.contact{
    background-color: mediumturquoise;
}