body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.container{
    background-color: #fff;
    max-width: 500px;
    margin: 0px auto;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}
h1,h2{
    text-align: center;
}
.container form{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
form input{
    padding: 5px;
}
form textarea{
    height: 100px;
}

/*java part oo view part */
#previewPost{
    background-color: #fff;
    max-width: 500px;
    margin: 20px auto;
    padding: 5px 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
img{
    width: 100%;
    border-radius: 5px;
}